[user]
  name = nodaguti
  email = nodaguti@gmail.com
[color]
  ui = true
  autocrlf = input
[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  rb = rebase
  rbc = rebase --continue
  rbs = rebase --skip
  cp = cherry-pick
  cpc = cherry-pick --continue
  pl = pull
  pc = push origin HEAD # push current
  graph = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
  mst = checkout master
  dev = checkout develop
  fixup = commit --amend -C HEAD
  fu = commit --amend -C HEAD
  unstage = reset HEAD
  clear = reset --hard HEAD
  cl = reset --hard HEAD
  pop = reset HEAD~
[core]
  excludesfile = ~/.gitignore
[http]
  postBuffer = 524288000
[ssh]
  postBuffer = 524288000
[pager]
  branch = false
  grep = false
