[user]
  name = nodaguti
  email = nodaguti@gmail.com
[color]
  ui = true
  autocrlf = input
[alias]
  s = switch
  co = checkout
  ci = commit
  st = status
  br = branch
  rb = rebase -i --autosquash
  rbc = rebase --continue
  rbs = rebase --skip
  cp = cherry-pick
  cpc = cherry-pick --continue
  pl = pull
  pc = push origin HEAD # push current
  graph = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
  m = !git switch $(basename $(git symbolic-ref --short refs/remotes/origin/HEAD)) # main
  main = !git switch $(basename $(git symbolic-ref --short refs/remotes/origin/HEAD))
  fu = commit --amend -C HEAD # fixup
  fua = commit --amend -a -C HEAD # fixup all
  fup = !git diff --name-only | xargs -I {} sh -c 'git add {} && git commit --fixup=$(git log -n 1 --pretty=format:%H -- {})' # fixup previous
  cl = reset --hard HEAD # clear
  pop = reset HEAD~
[core]
  excludesfile = ~/.gitignore
[http]
  postBuffer = 524288000
[ssh]
  postBuffer = 524288000
[pager]
  branch = false
  grep = false
[pull]
  ff = only
[init]
	defaultBranch = main
[fetch]
  prune = true

# GitLens will stop working on repositories without a .git-blame-ignore-revs file
# https://github.com/gitkraken/vscode-gitlens/issues/1143#issuecomment-758947995
# [blame]
#   ignoreRevsFile = .git-blame-ignore-revs
