##
# NPM
##
node_modules
npm_debug.log

##
# Mac OSX-specific files
# https://github.com/github/gitignore/blob/master/Global/OSX.gitignore
##

.DS_Store
.AppleDouble
.LSOverride


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Others
.envrc
