@charset 'utf-8';
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#personal-bookmarks toolbarbutton image.toolbarbutton-icon {
   display: none !important;
   -moz-margin-end: 0px !important;
}
#personal-bookmarks toolbarbutton{
   padding: 0 6px !important;
}
#bookmarks-menu-button{
   display: none !important;
}

.autorepeatbutton-up,          /* [ ↑ ] */
.autorepeatbutton-down         /* [ ↓ ] */
{display:none !important;}
